name: 'e2e Tests'

on:
  repository_dispatch:
    types: [ok-to-test-command]

jobs:
  e2e:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    if: 
      github.event_name == 'repository_dispatch' &&
      github.event.client_payload.slash_command.sha != '' &&
      contains(github.event.client_payload.pull_request.head.sha, github.event.client_payload.slash_command.sha)
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Docker Hub
            image: mrsmithers/hello-world
            registry: docker.io
            username: DOCKERHUB_USERNAME
            password: DOCKERHUB_PASSWORD
            labels: org.opencontainers.image.description="A Hello World image used for e2e tests"

          - name: GCR
            image: orbital-bank-301021/hello-world
            registry: gcr.io
            username: GCR_USERNAME
            password: GCR_PASSWORD
            labels: org.opencontainers.image.description="A Hello World image used for e2e tests"

          - name: ECR
            image: hello-world
            registry: 026181534292.dkr.ecr.us-west-2.amazonaws.com

          - name: GHCR Legacy
            image: docker-build-push/e2e-image
            registry: docker.pkg.github.com
            username: GH_USERNAME
            password: GITHUB_TOKEN

          - name: GHCR
            image: hello-world
            registry: ghcr.io
            githubOrg: docker-action-e2e
            username: GHCR_USERNAME
            password: GHCR_TOKEN

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          ref: 'refs/pull/${{ github.event.client_payload.pull_request.number }}/merge'

      - name: Create check suite
        uses: actions/github-script@v5
        if: ${{ always() }}
        env:
          image: ${{ matrix.image }}
          number: ${{ github.event.client_payload.pull_request.number }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const sha = pull.head.sha;
            const { data: check } = await github.rest.checks.create({
              ...context.repo,
              name: process.env.image,
              head_sha: sha
            });
            return check;

      - name: Create check run
        uses: actions/github-script@v5
        if: ${{ always() }}
        env:
          image: ${{ matrix.image }}
          number: ${{ github.event.client_payload.pull_request.number }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const sha = pull.head.sha;
            const { data: check } = await github.rest.checks.create({
              ...context.repo,
              name: process.env.image,
              head_sha: sha
            });
            return check;

      - name: Build and push Docker image
        id: docker
        uses: ./
        with:
          dockerfile: ./e2e/Dockerfile
          image: ${{ matrix.image }}
          tags: latest, ${{ github.run_id }}
          registry: ${{ matrix.registry }}
          githubOrg: ${{ matrix.githubOrg }}
          username: ${{ secrets[matrix.username] }}
          password: ${{ secrets[matrix.password] }}
          addLatest: ${{ matrix.addLatest }}
          labels: ${{ matrix.labels }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Verify Docker image
        run: |
          docker pull ${{ steps.docker.outputs.imageFullName }}:${{ github.run_id }}
          docker image inspect ${{ steps.docker.outputs.imageFullName }}:${{ github.run_id }}

      - name: Update check run
        uses: actions/github-script@v5
        if: ${{ always() }}
        env:
          number: ${{ github.event.client_payload.pull_request.number }}
          job: ${{ github.job }}
          conclusion: ${{ job.status }} 
          image: ${{ matrix.image }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const ref = pull.head.sha;
            const { data: checks } = await github.rest.checks.listForRef({
              ...context.repo,
              ref
            });
            const check = checks.check_runs.filter(c => c.name === process.env.image);
            const { data: result } = await github.rest.checks.update({
              ...context.repo,
              check_run_id: check[0].id,
              status: 'completed',
              conclusion: process.env.conclusion
            });
            return result;
      
      - name: Dump context
        if: always()
        uses: crazy-max/ghaction-dump-context@v1
